body{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #faf6f0; 
    margin: 20px;
    text-align: center;
}
.menu-section {
    background-color: #fff5f5; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}
.menu-section ul {
    list-style-type: none; 
    padding: 0;
}



.menu-section ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu-section ul li a {
    display: inline-block;
    padding: 10px 25px;
    background-color: #e3b8a6; 
    color: #4a3329; 
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px; 
    font-weight: bold;
    transition: 0.3s;
}
.menu-section ul li a:hover {
    background-color: #d1a390; 
}
.main-section {
    background-color: #ffffff;
    padding: 35px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.02); 

}

.main-section h1 {
    font-size: 30px; 
    color: #8c6239; 
}

.main-section p {
    font-size: 18px;
    color: #6b5e53; 
    line-height: 1.6;
}
.main-section button {
    padding: 12px 30px;
    font-size: 16px;
    background-color: #ebd1c5;
    color: #5c4033;
    border: 1px solid #dcbfae;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.main-section button:hover {
    background-color: #dcbfae;
}
.photo-section {
    background-color: #fcf8f2; 
    padding: 25px;
    border-radius: 12px;
}
photo-section h2 {
    color: #8c6239;
    margin-bottom: 20px;
}


.photo-section img {
    display: block;
    margin: 0 auto;
    max-width: 350px;
    height: auto;
    border: 4px dashed #e3b8a6; 
    padding: 15px; 
    background-color: #ffffff;
    border-radius: 8px;
}
